{% load i18n %}
    <div class="review">
        <div class="review">
            <div class="photo"></div>
            <div class="b-message">
                <div class="message">
                    {{ entry.get_message|striptags }}
                    <div class="answer"><a href="{{ entry.get_comment_link }}" class="text-right open-popup">{% trans "reply" %}</a></div>
                </div>
{% if entry.name %}
                <div class="name{% if entry.author.is_superuser %} admin{% endif %}">{{ entry.name }}</div>
{% endif %}
                <div class="date">{{ entry.add_time|date:"d.m.Y" }}</div>
            </div>
        </div>
    </div>