{% load i18n %}
        <div class="catalog_detail_content">
            <div class="catalog_detail__title">
                <time>{{ blog.date }}</time>
                <h1>{{ blog.title }}</h1>
            </div>

            <div class="catalog_detail__view">
{% with blog.get_item_list.0 as item %}
{% include "catalog/_catalog_detail_gallery.html" %}
{% endwith %}
{% if blog.get_all_tags %}
                <div class="catalog_detail__view-tags">
                    <h4>{% trans "Tags" %}:</h4>
{% for tag in blog.get_all_tags %}
                    <a class="tag-name" href="{% url "blog:article-list" %}?tag={{ tag }}">{{ tag }}</a>
{% endfor %}
                </div>
{% endif %}
            </div>

            <div class="catalog_detail__details">
{% if blog.text %}
            <article class="catalog_detail__details-description">{{ blog.text|safe }}</article>
{% endif %}

{% if blog.item.first %}
                <a href="{% url "catalog:item" blog.item.first.slug %}">{% trans "Read more" %}</a>
{% endif %}
            </div>
        </div>