<nomen-item
        id="{{ item.id }}"
        name="{{ item.name_ru }}"
        name_en="{{ item.name_en }}"
        brand="{{ item.brand_ru|default:'' }}"
        brand_en="{{ item.brand_en|default:'' }}"
        type="{{ item.type_ru|default:'' }}"
        type_en="{{ item.type_en|default:'' }}"
        note="{{ item.note_ru|default:'' }}"
        note_en="{{ item.note_en|default:'' }}"
        series="{{ item.series_ru|default:'' }}"
        series_en="{{ item.series_en|default:'' }}"
        scale="{{ item.scale|default:'' }}"
        manufacturer="{{ item.manufacturer_ru|default:'' }}"
        manufacturer_en="{{ item.manufacturer_en|default:'' }}"
        color="{{ item.color_ru|default:'' }}"
        color_en="{{ item.color_en|default:'' }}"
        material="{{ item.material|default:'' }}"
        tags="{% for tag in item.tags.all %}{{ tag_ru }}{% if not forloop.last %};{% endif %}{% endfor %}"
        tags_en="{% for tag in item.tags.all %}{{ tag_en }}{% if not forloop.last %};{% endif %}{% endfor %}"
        weight="{{ item.weight|default:'' }}" length="{{ item.length|default:'' }}"
        width="{{ item.width|default:'' }}" height="{{ item.height|default:'' }}"
        quantity="{{ item.quantity|default:'' }}"
        price="{{ item.price|default:'' }}"
        pricemin="{{ item.price_min|default:'' }}"
        publisher="{{ item.publisher_ru|default:'' }}" publisher_en="{{ item.publisher_en|default:'' }}"
        author="{{ item.author_ru|default:'' }}" author_en="{{ item.author_en|default:'' }}"
        statuspreorder=""
        statusnew="{{ item.status_new }}"
        statusnewavail=""
        statusaction="{{ item.status_action }}"
        statussale="{{ item.status_sale }}"
        statusway="{{ item.status_on_the_way }}"
        statusbook="{% if item.section == 'book' %}True{% else %}False{% endif %}"
        statusaccess="{% if item.section == 'accessory' %}True{% else %}False{% endif %}"
        >
{% for image in item_images %}
    <img name="{{ image.get_filename }}" src="{{ request.META.HTTP_HOST }}{{ image.get_src }}" />
{% endfor %}
</nomen-item>