{% extends CMS_TEMPLATE %}
{% load i18n widget_tweaks %}
{% block content %}
<div class="profile_edit">
<form method="post" id="profile_edit_form" action="{% url 'personal:profile' %}">
    {% csrf_token %}
{% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
{% endif %}
{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
<ul class="personal-list">
{% for field in form.visible_fields %}
  <li>
    <div class="personal_item {{ field.html_name }}{% if field.errors %} has-error has-feedback{% endif %}">
        <div class="personal_usually_show">
            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
            <span class="personal_item__value">{{ field.value|default_if_none:"" }}</span>
            <button class="change">Изменить</button>
        </div>
        <div class="personal_item_edit">
{% with field.field.required|yesno:"required," as attr %}
{% if field.name == 'phone' %}
        {{ field|attr:attr|add_class:"form-control"|add_class:"maskedinput" }}
{% else %}
        {{ field|attr:attr|add_class:"form-control" }}
{% endif %}
{% endwith %}
{% if field.errors %}
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
        {{ field.errors }}
{% endif %}
        </div>

    </div>
   </li>
{% endfor %}
</ul>
<div class="personal_link change_pass">
    <a href="{% url "account_change_password" %}">{% trans "Change password" %}</a>
</div>
<div class="personal_link delete_acc">
    <a href="{% url "personal:profile_delete_confirm" %}">{% trans "Delete account" %}</a>
</div>


                <div class="form-group form-group_button">
                    <button type="submit" class="submit_save button btn">{% trans "Save" %}</button>
                    <span id="event_signup_result" class="event_signup_result"></span>
                </div>
</form>
</div>
<script>
    $(function(){
        $(".change").click(function(e){
            e.preventDefault();
            var $this = $(this)
            $this.parent(".personal_usually_show").siblings(".personal_item_edit").show().find('input').focus();
            $this.hide().siblings(".personal_item__value").hide();


        })
    })
</script>
{% endblock %}