{% load thumbnail staticfiles %}
        <div class="item">
{% if from_catalog %}
            <div class="rest_item">
                <a href="{% url "collection:remove" collection_item_id %}" class="action delete_item popup"></a>
            </div>
{% endif %}
{% if custom %}
            <div class="rest_item">
                <a href="{% url "collection:update" item.id %}" class="action edit_item popup"></a>
                <a href="{% url "collection:remove_uploaded" item.id %}" class="action delete_item popup"></a>
            </div>
{% endif %}
{% if item.get_absolute_url %}
            <a href="{{ item.get_absolute_url }}">
{% endif %}
        <div class="main-image">
        <div class="image">
{% thumbnail item.image "270x270" crop="center" as im %}

            <img src="{{ im.url }}" class="my_img">
{% empty %}
            <img src="{% static "images/no-photo-270.jpg" %}">

{% endthumbnail %}
        </div>
        </div>
            <h4>{{ item.name }}</h4>
{% if item.get_absolute_url %}
            </a>
{% endif %}
            <div class="manufacturer">{{ item.manufacturer }}</div>
            <div class="scale">{{ item.scale }}</div>
        </div>