{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block h1 %}
    <h1>{% trans "Change Password" %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
{% include "includes/_form_fields.html" %}
                <button type="submit" name="action" class="button">{% trans "Change Password" %}</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}
